


@font-face {
    font-family: "Brittany";
    src: url(../fonts/BrittanySignature.ttf);
   
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.ttf);
   
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Regular.ttf);
   
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Regular-otf.OTF);
   
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Bold.OTF);
   
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Light.ttf);
   
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Thin.ttf);
   
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SfPro";
    src: url(../fonts/SfPro-Medium.OTF);
   
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
   
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-SemiBold.ttf);
    src: 
        url(../fonts/Roboto-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    src: 
        url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    src:
        url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
