/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px; 
    border: 1px solid #e2e2e2;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  body{
    scroll-behavior: smooth;
  }