:root {
    --theme-border: #eaeaea;
    --theme-gray  : #f6f6f7;
    --theme-check : #f3f7f6;
    --theme-green : #25BE9B;
}

body {
    font-size  : 16px;
    font-family: "CerebriSans";
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin : 0;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* backgrounds */
.bg-gray {
    background-color: var(--theme-gray);
}

/* buttons  */
button {
    display            : flex;
    justify-content    : center;
    align-items        : center;
    font-weight        : 400;
    text-align         : center;
    vertical-align     : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    background-color   : transparent;
    border             : 1px solid transparent;
    box-shadow         : inset 0 0 0 0 #D80286;
    -webkit-transition : ease-out 0.4s;
    -moz-transition    : ease-out 0.4s;
    transition         : ease-out 0.4s;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
}

.buy-btn {
    padding         : 8px 30px;
    border-radius   : 30px;
    background-color: #000;
    color           : #fff;
    font-weight     : 700;
    font-size       : 16px;
    box-shadow      : rgba(22, 53, 76, 0.18) 0px 7px 25px 0px;
}

/* flex */
.flex-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

/* headings  */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight  : 500;
    line-height  : 1.2;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: 1rem;
}

/* fonts  */
.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-lighter {
    font-weight: lighter !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-bolder {
    font-weight: bolder !important;
}

.font-italic {
    font-style: italic !important;
}

.f-12 {
    font-size: 12px;
}
.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}
.f-28 {
    font-size: 28px;
}


.cursor-pointer{
    cursor: pointer;
}
ul.filter-list {
    max-height   : 200px;
    overflow-y   : auto;
    overflow-x   : hidden;
    margin-bottom: 0px;
    padding: 10px 10px;
}
.filter-branch {
    position     : relative;
    margin-bottom: 0px;
}
.filter-branch  p{
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}
.filter-branch span {
    display      : flex;
    margin-bottom: 1rem;
    width        : 10px;
    height       : 10px;
    position     : absolute;
    right        : 4px;
    top          : 50%;
    cursor       : pointer;
    opacity      : .5;
    margin-top   : -5px;
}
.rotate-down {
    transition: transform 150ms ease;
}

.rotate-up {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    transform    : rotate(180deg);
    transition   : transform 150ms ease;
}
Ul.filter-list li {
    list-style            : none;
    font-size             : 14px;
    /* color              : $filter-li; */
    margin-bottom         : 5px;
    display               : block;
    position              : relative;
    padding-left          : 28px;
    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;


}

input#custom-checkbox {
    position: absolute;
    left    : 0;
    top     : 2px;
    opacity : 0;
    z-index : 111;
    width   : 15px;
    height  : 15px;
    cursor: pointer;
}

.checkmark {
    position        : absolute;
    top             : 2px;
    left            : 0;
    height          : 15px;
    width           : 15px;
    background-color: white;
    border          : 1px solid #00000054;
    border-radius   : 3px;
}

.check:hover input#custom-checkbox~.checkmark {
    background-color: var(--theme-check);
}

.check input#custom-checkbox:active~.checkmark {
    background-color: white;
    border          : 1px solid var(--theme-green);
}

.check input#custom-checkbox:checked~.checkmark {
    background-color: var(--theme-green);
    border          : 1px solid var(--theme-green);
}

.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

.check input#custom-checkbox:checked~.checkmark:after {
    display: block;
}

.check .checkmark:after {
    left        : 4px;
    bottom      : 3px;
    width       : 5px;
    height      : 9px;
    border      : solid white;
    border-width: 0 2px 2px 0;
    transform   : rotate(45deg);
}
.outline{
    border: 1px solid #eeeeee;
}
.outline:hover {
    background: #f7f7f7;
}
#main-cat{
    position: relative;
}
#main-cat-menu{
    position: absolute;
    top: 42px;
    width: 100%;
    left: 0;
    padding: 0px 15px;
    
}
#main-cat-menu .inside-outline{
    background-color: white;
    height: 100%;
    border: 1px solid #eee;
    box-shadow: 0px 1px 3px 2px #f7f7f7;
    overflow-y: scroll;
    height: 60vh;
}
#main-cat-menu .inside-pad{
    padding: 0px 30px 30px 30px;
}
#main-cat-menu .close{
    margin-right: 6px;
    margin-left: 20px;
}