:root {
    --theme-border: #eaeaea;
    --theme-gray  : #f6f6f7;
    --theme-check : #f3f7f6;
    --theme-green : #25BE9B;
}
/* @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  } */
  @keyframes marquee{
      
      0%
        {transform :translateX(0);}
      100%
        {transform :translate(-50%);}
  }

  @keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
    
}


 /* overlay custom styles */
.some-custom-overlay-class{
    z-index: 9999;
}
.slide-pane__overlay.overlay-after-open{
    background: linear-gradient(
        113.87deg,rgb(190 216 247 / 69%),rgb(189 163 249 / 69%));
        transition: background-color 0.5s !important;
        /* transition: 4s !important; */
        /* transition: unset !important; */
        background-color: unset !important;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        /* will-change: opacity,visibility; */
}
.custom-pane .slide-pane__header{
    background: white;
    border-bottom:none;
}
.custom-pane .slide-pane__content{
    background: white;
    padding:0px
}
.new_btn_login{
  margin-bottom: 10px !important;
  border-radius: 30px !important;
  background: linear-gradient( 118deg, rgba(209,78,154,1) 14%, rgba(255,86,109,1) 60%);
  color: #fff;
  box-shadow: rgb(255 86 109) 0px 8px 25px 0px;
  border: none !important;
}
.login-model{
  max-width: 600px !important;
}
.login_model_bg{
  background-color: #f7f7ff !important;
}

.checkout-bg{
  background:#f9f9f9;
}
.no_box_shadow{
  box-shadow: none !important;
}
.bg-gradients{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: 100%;
    background-color: white;
    /* background: linear-gradient(90deg, rgba(247,231,239,1) 0%, rgba(231,239,255,1) 50%, rgba(231,239,255,1) 100%) !important; */
}
.bg-gradients > div{
    width: 100%;
    max-width: 80vw!important;
    margin: auto;
    margin-top: 0px;
}
.bg-gradients p{
  line-height: 1.1;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}
.bg-gradients-tags{
    /* padding: 1.125rem 0; */
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(
90deg,rgba(255,247,238,.85),#eef5ff);
}
.animation-row{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}
.newww{
    box-sizing: border-box;
    overflow: hidden;
    width: 400%;
    padding: 1.125rem 0;
}
.sampleTags{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.125rem;
}
.sampleTags .svg-img{
    width: 26px;
    display: block;
    margin-right: 8px;
    opacity: 0.9;
}
ul.filter-list {
    max-height   : 200px;
    overflow-y   : auto;
    overflow-x   : hidden;
    margin-bottom: 0px;
    padding: 10px 10px;
}
.filter-branch {
    position     : relative;
    margin-bottom: 0px;
}
.filter-branch  p{
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}
.filter-branch span {
    display      : flex;
    margin-bottom: 1rem;
    width        : 10px;
    height       : 10px;
    position     : absolute;
    right        : 4px;
    top          : 50%;
    cursor       : pointer;
    opacity      : .5;
    margin-top   : -5px;
}
.rotate-down {
    transition: transform 150ms ease;
}

.rotate-up {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    transform    : rotate(180deg);
    transition   : transform 150ms ease;
}
Ul.filter-list li {
    list-style            : none;
    font-size             : 14px;
    /* color              : $filter-li; */
    margin-bottom         : 5px;
    display               : block;
    position              : relative;
    padding-left          : 28px;
    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;


}

input#custom-checkbox {
    position: absolute;
    left    : 0;
    top     : 2px;
    opacity : 0;
    z-index : 111;
    width   : 15px;
    height  : 15px;
    cursor: pointer;
}

.checkmark {
    position        : absolute;
    top             : 2px;
    left            : 0;
    height          : 15px;
    width           : 15px;
    background-color: white;
    border          : 1px solid #00000054;
    border-radius   : 3px;
}

.check:hover input#custom-checkbox~.checkmark {
    background-color: var(--theme-check);
}

.check input#custom-checkbox:active~.checkmark {
    background-color: white;
    border          : 1px solid var(--theme-green);
}

.check input#custom-checkbox:checked~.checkmark {
    background-color: var(--theme-green);
    border          : 1px solid var(--theme-green);
}

.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

.check input#custom-checkbox:checked~.checkmark:after {
    display: block;
}

.check .checkmark:after {
    left        : 4px;
    bottom      : 3px;
    width       : 5px;
    height      : 9px;
    border      : solid white;
    border-width: 0 2px 2px 0;
    transform   : rotate(45deg);
}
.outline{
    border: 1px solid #eeeeee;
}
.outline .hover-body:hover {
    background: #f7f7f7;
    transition: 200ms;
}
#main-cat{
    position: relative;
}
#main-cat-menu{
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    padding: 0px 15px;   
     
}

#main-cat-menu .inside-outline{
    background-color: white;
    height: 100%;
    border: 1px solid #eee;
    box-shadow: 0px 1px 3px 2px #f7f7f7;
    overflow-y: scroll;
    height: 60vh;
}
#main-cat-menu .inside-pad{
    padding: 0px 30px 30px 30px;
}
#main-cat-menu .close{
    margin-right: 6px;
    margin-left: 20px;
}
#main-cat-menu .categ-title{
    color: #000;
}
#main-cat-menu .categ-title:hover{
    color: #007bff;
    transition: 300ms;
}
.seperator{
    height: 1px;
    margin: 16px 0;
    border-bottom: solid 1px #f5f5f5;
}

.close-container{
    position: relative;
    width: 36px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .leftright{
    height: 2px;
    width: 15px;
    position: absolute;
    margin-top: 12px;
    background-color: #2d2d2d;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 2px;
    width: 15px;
    position: absolute;
    margin-top: 12px;
    background-color: #2d2d2d;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  /* label{
    color: white;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  } */
  
  
  .close-container:hover .leftright{
    transform: rotate(-225deg);
    background-color: #ff0011;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #ff0011;
  }
  .close-container:hover label{
    opacity: 1;
  }
.insider{
      position: absolute;
      transition: 0.8s ease-out;
      
    bottom: -46px;

  }
  .insider-outline{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .pop-up-text{
      display: block;
      position: absolute;
      bottom: 50px;
        left: 15%;
        overflow: hidden;
        width: 220px;
    height: 88px;
  }
  .pop-up-text.right{
    
  }
.insiderR{
    position: absolute;
      transition: 0.8s ease-out;
      
    bottom: -46px;
}
  .left-pop-slide:hover .insider{
    bottom: 0px;
  }
  .right-pop-slide:hover .insiderR{
    bottom: 0px;
  }
  .pop-up-list{
    display: block;
    position: absolute;
   
      overflow: hidden;
      width: 135px;
    transition: 0.8s ease-out;
    
    
}
.pop-up-list.left{
    left: -140px;
    bottom: 130px;
}
.pop-up-list.right{
    right: -140px;
    bottom: 120px;
}
.left-pop-slide:hover .pop-up-list.left{
    left: 10%;
  }
.right-pop-slide:hover .pop-up-list.right{
    right: 10%;
  }
  .roundTxt{
      /* opacity: 0; */
      display: none;
  }
.left-pop-slide:hover .roundTxt{
    display: block;
  }
.right-pop-slide:hover .roundTxt{
    display: block;
  }
  @keyframes leftRight {
    40% {
      transform: translate(50px, 0) scale(.7);
      opacity: 1;
      color: #8c0463;
    }
  
    60% {
      color: #0f40ba;
    }
  
    80% {
      transform: translate(0) scale(1.5);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }
  .animateText span {
    display: inline-block;
  }
  .animateText span{
  opacity: 0;
  transform: translate(-150px, 0) scale(.3);
  animation: leftRight .5s forwards;
  font-size: 48px;
  font-weight: 500;
  animation-duration: 2s;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
  
  .animateText span:nth-of-type(2) {
    animation-delay: .05s;
  }
  .animateText span:nth-of-type(3) {
    animation-delay: .1s;
  }
  .animateText span:nth-of-type(4) {
    animation-delay: .15s;
  }
  .animateText span:nth-of-type(5) {
    animation-delay: .2s;
  }
  .animateText span:nth-of-type(6) {
    animation-delay: .25s;
  }
  .animateText span:nth-of-type(7) {
    animation-delay: .3s;
  }
  .animateText span:nth-of-type(8) {
    animation-delay: .35s;
  }
  .animateText span:nth-of-type(9) {
    animation-delay: .4s;
  }
  .animateText span:nth-of-type(10) {
    animation-delay: .45s;
  }
  .animateText span:nth-of-type(11) {
    animation-delay: .5s;
  }
  .animateText span:nth-of-type(12) {
    animation-delay: .55s;
  }
  .animateText span:nth-of-type(13) {
    animation-delay: .6s;
  }
  .animateText span:nth-of-type(14) {
    animation-delay: .65s;
  }
  .animateText span:nth-of-type(15) {
    animation-delay: .7s;
  }
  .animateText span:nth-of-type(16) {
    animation-delay: .75s;
  }
  .animateText span:nth-of-type(17) {
    animation-delay: .8s;
  }
  .animateText span:nth-of-type(18) {
    animation-delay: .85s;
  }
  .animateText span:nth-of-type(19) {
    animation-delay: .9s;
  }
  .animateText span:nth-of-type(20) {
    animation-delay: .95s;
  }

  .slide-pane_from_right{
    width: 40%;
  }
  .delete-trash{
    background-color: #ebebeb !important;
    border-radius: 50% !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 6px !important;

    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    width: 30px !important;
    height: 30px !important;
    position: relative;

  }
  .delete-trash:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -5px;
    left: -5px;
    padding: 5px;
    box-shadow: 0 0 0 2px #ff9090;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    
    /* position: relative; */
}
  /* .delete-trash:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
} */
  .delete-trash:hover {
    background: #fdd5d5 !important;
    color: #ff1010;
}
  .delete-trash:hover i {
    color: #ff1010;
}
  .delete-trash:hover:after{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .coupon-submit{
    height: 48px;
    min-width: 90px;
    border-radius: 6px !important;
    margin-left: 15px;
  }
  .subscribe-btn{
    height: 47px;
    border-radius: 6px !important;
    margin-left: -1px;
  }
  
.custom02RadioDiv{
  padding-left: 25px;
}
  .custom02{
    position: relative;
  } 
.custom02 input[type="radio"] {
	display: block;
    position: absolute;
    opacity: 0;
    top: 50%;
    z-index: 1;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: -9px;
    overflow: hidden;
    cursor: pointer;
}
.custom02 label {
	position: relative;
	display: inline-block;
	padding: 0px 0px 0px 25px;
  margin-bottom: 0px;
}
.custom02 label::before,
.custom02 label::after {
	position: absolute;
	content: '';
	top: 50%;
	border-radius: 100%;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.custom02 label::before {
	left: 0;
	width: 18px;
    height: 18px;
    margin-top: -9px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
.custom02 label:hover::before {
	background: #fff;
}
.custom02 label::after {
	opacity: 0;
	left: 4px;
	width: 10px;
    height: 10px;
    margin-top: -5px;
	background: #d14e9a;
	-webkit-transform: scale(2);
	transform: scale(2);
}
.custom02 input[type="radio"]:checked + label::before {
	background: #fff;
	border: 1px solid #d14e9a;
}
.custom02 input[type="radio"]:checked + label::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
  @media only screen and (max-width: 992px) {
    .slide-pane_from_right{
        width: 60%  !important;
      }
}
  @media only screen and (max-width: 767px) {
    .slide-pane_from_right{
        width: 80%  !important;
      }
    #main-cat-menu{
        top: 40px;
    }
    .bg-gradients {
        height: 65vw;
       
    }
    .bg-gradients p{
        line-height: 22px;
        margin-bottom: 10px;
        font-size: 20px;
    }
}
  @media only screen and (max-width: 576px) {
    body{
        font-size: 14px;
    }
    .slide-pane_from_right{
        width: 100%  !important;
      }
    .sampleTags .svg-img{
        width: 24px;
    }
    .pop-up-list{
        display: none;
    }
    .pop-up-text{
        display: none;
    }
    .bg-gradients {
      height: 100%;
      text-align: center;
      padding: 30px 0px 0px 0px;;
  }
    .bg-gradients h4{
      text-align: center !important;
  }
  .login-model{
    max-width: 375px;
  }
  .position-bug{
    position: relative; 
    z-index: -1;
  }
  #main-cat-menu .inside-pad {
    padding: 0px 10px 30px 10px;
}
.responseBottom{
  margin-bottom: 15px !important;
}
.responsemarginTop{
  margin-top: 25px !important;
}

}